body {
  background-color: white;
  text-align: center;
}
.top {
  padding-top: 20px;
}
.App-header {
  background-color: #8fbc80;
  width: 100%;
  height: 105px;
  font-size: 70px;
  text-decoration: none;
  color: white;
  font-family: monospace;
  box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.25);
}

.font {
  font-family: monospace;
  font-size: 30px;
  color: green;
}
.font-fam {
  font-family: monospace;
}

button {
  color: green;
  font-size: 25px;
  font-family: monospace;
}

.button-alternativ {
  margin: 20px;
  font-family: monospace;
  border-radius: 5px;
  opacity: 0.8;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 5px #999;
}

.button-alternativ:hover {
  opacity: 1;
}

.ridge {
  background-color: #b3ffb3;
  margin: 45px;
  height: 420px;
  border-style: ridge;
  border-radius: 5px;
  border-style: ridge;
}

.correcto {
  background-color: #8fbc80;
  font-family: monospace;
  font-size: 20px;
  color: #004d1a;
  position: center;
  margin: auto;
  width: 70%;
  border-radius: 5px;
  padding: 10px;
}

.falso {
  background-color: #ff4d4d;
  font-family: monospace;
  font-size: 20px;
  color: #4d0000;
  position: center;
  margin: auto;
  border-radius: 5px;
  width: 70%;
  padding: 10px;
}

.br {
  line-height: 3em;
}

.left {
  left: 5px;
  font-family: monospace;
}
.finishButton {
  color: green;
  font-size: 2em;
  text-decoration: none;
  font-family: monospace;
}

.finish-margin {
  margin: 50px;
}
.scoreANDhint {
  font-family: monospace;
  font-size: 20px;
  color: green;
}

#close-CSS {
  background-image: url("./img/hint.png");
  background-size: 100% 100%;
  height: 45px;
  width: 45px;
  opacity: 0.5;
}

#close-CSS:hover {
  opacity: 1;
}
.hintPlace {
  position: absolute;
  right: 200px;
}
